{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@2.0/nanumsquare.css">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  {% block link %}
  {% endblock link %}
  
  <title>Document</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container">
      <div class="left">
        <div><a href="{% url 'movies:index'%}"><img src="{% static 'img/logo.png' %}" alt=""></a></div>
        <div><a href="{% url 'movies:index'%}">HOME</a></div>
        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            커뮤니티
          </a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'community:index'%}">영화 리뷰</a></li>
            <li><a href="{% url 'community:create'%}">리뷰 작성하기</a></li>
          </ul>
        </div>
        <div><a href="{% url 'movies:recommended' %}">추천 영화</a></div>
      </div>
      {% if user.is_authenticated %}
      <div class="right">
        <div><a href="{% url 'accounts:profile' user %}">{{ user.username }}</a>님, 환영합니다</div>
        <div>
          <form action="{% url 'accounts:logout' %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="Logout">
          </form>
        </div>
      </div>
      {% else %}
      <div class="right">
        <div><a href="{% url 'accounts:signup' %}">Signup</a></div>
        <div><a href="{% url 'accounts:login' %}">Login</a></div>
      </div>
      {% endif %}
    </div>
  </nav>
  <div class="container">
    {% block content %}
    {% endblock content %}
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  {% block script %}
  {% endblock script %}
  
</body>
</html>
