{% extends 'base.html' %}

{% block content %}
  <h1>DETAIL</h1>
  <hr>
  <div>
    <img src="{{ movie.poster_path }}" alt="영화 포스터">
    <div>
      <h3>{{ movie.title }}</h3>
      <p>Release date : {{ movie.release_date }}</p>
      <p>Popularity : {{ movie.popularity }}</p>
      <p>Vote count: {{ movie.vote_count }}</p>
      <p>Vote average: {{ movie.vote_average }}</p>
      <p>Genres: {{ genres_list|join:" " }}</p>
      <p>{{ movie.overview }}</p>
    </div>
  </div>

  <input type="submit" value="BACK" onclick="location.href='{% url 'movies:index' %}'">
{% endblock %}

{% block script %}
  <script>
    
  </script>
{% endblock script %}

